p {

color: #3bca22;

}

#tekst {

color: #d711b3;

}

#prosjekter {

color: #4d21ec;

}

h2 {

color: #eb0000;

}

.uthevet {

color:#221fcf;
background-color: #e4d194;

}

#copyright {
    color: #000000;
}